@import url('https://fonts.cdnfonts.com/css/911-porscha');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');


:root{
    --background: #003328;
    --color: #f5ebcb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    background: var(--background);
    color: var(--color);
}

h1{
    font-size: clamp(4.6875rem, 1.1719rem + 11.25vw, 7.5rem);
    font-weight: 300;
    color: var(--color);
    display: flex;
    justify-content: flex-end;
    margin-top: 0.35em;
    line-height: 1;
    border-bottom: 1px solid var(--color);
}

h2{
    position: absolute;
    text-align: center;
    font-weight: 400;
    margin-top: 2em;
    transition: all 0.1s
}

h3{
    font-weight: 400;
}

p{
    line-height: 1.5;
}

img{
    object-fit: cover;
    filter: grayscale(100%)
}


/*___________________________________________*/
.logo{
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 100;
    color: #f5ebcb;
    font-family: '911 Porscha', sans-serif;
    border: 1px solid var(--color);
    padding: 0.5em 1em;
    border-radius: 20px;
}


/*___________________________________________*/
.container-wrapper{
    display: flex;
    padding: 10px;
}

.container-wrapper:has(.container.active) .container:not(.active){
    filter: blur(5px);
}


/*___________________________________________*/
.container{
    position: relative;
    height: calc(100vh - 20px);
    width: calc(100% / 3);
    padding-inline: 10px;
    transition: all 0.5s;
    overflow: hidden;
    opacity: 0;
}

.container:not(:nth-child(3n)){
    border-right: 2px solid var(--color);
    padding-inline-end: 10px;
}

.container:nth-child(3) > .container-image-box p {
    color: black;
}

.container.active{
    width: 60vw;
    padding-inline: 20px
}

.container.active > h1{
    font-size: 50px;
    transition: all 0.5s;
}

.container.active > h2{
    opacity: 0
}

.container.active > .container-box{
    opacity: 1;
}

.slogan{
    top: 15em;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    font-weight: 300;
}

.arrow{
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color);
    color: var(--background);
    border-radius: 50%;
    height: 2em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid var(--color);
    outline-offset: 4px;
}


/*___________________________________________*/
.container-box{
    width: 100%;
    height: 100%;
    opacity: 0;
    margin-block: 10px;
    transition: all 0.5s;
}

.container-box > *{
    margin-block: 20px;
}

.container-box > h2{
    position: static;
    text-align: left;
    font-size: clamp(1.875rem, 1.0938rem + 2.5vw, 2.5rem);
    margin: 0;
}

.container-box > img{
    height: 40%;
    width: auto;
}

.container-box > p{
    color: white
}


/*___________________________________________*/
.container-image-box{
    height: 100%;
    width: 100%;
    background: var(--color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.container-image-box > img{
    width: 100%;
    height: 70%;
}

.container-image-box > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-image-box > div p:nth-child(1){
    margin-top: 1em;
}

.container-image-box > div p:nth-child(2){
    font-size: 30px;
}

@media(max-width: 1200px){
    .container-wrapper{
        flex-direction: column;
    }

    .container{
        height: 100vh;
    }

    .container,
    .container.active{
        width: 100%;
    }

    .container.active{
        padding-inline: 0;
    }

    .container:not(:nth-child(3n)){
        height: 120vh
    }

    .container:not(:nth-child(3n)){
        border-right: 0;
        border-bottom: 2px solid var(--color);
    }
}