header{
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
}

header > h4{
    position: fixed;
    top: 1em; 
    left: 1em;
    font-size: 20px;
}

header > nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 1em;
    width: 30%;
}

a{
    padding-block: 0.5em;
    margin-block-start: 1em;
    color: var(--color);
    border: 1px solid var(--color);
    border-radius: 20px;
    text-align: center;
    transition: 0.2s;
}

a:hover{
    background: var(--hoverColor);
}

.hamburger{
    display: none;
    position: fixed;
    top: 1em;
    right: 1em;
    height: 15px;
    width: 50px;
    border-block: 3px solid var(--color);

}

.responsive-nav{
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1c2633;
    transition: all 0.5s;
}

@media(max-width: 1200px){
    header > nav{
        position: fixed;
        right: 1em;
        width: 40%;
        margin: 0 1em 0 0;
    }
}

@media(max-width: 768px){
    header > nav{
        display: none;
    }

    .hamburger{
        display: block;
        z-index: 1000;
    }

    .responsive-nav{
        display: flex;
    }

    .responsive-nav > a{
        width: 50%;
    }

    .open{
        right: 0;
    }
}
