.single-project{
    width: 100%;
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--color);
}

.single-project > .data-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.single-project > .data-wrapper .year-location{
    display: flex;
    justify-content: space-between;
    width: var( --widthYearLocation);
}

.single-project > .info{
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.single-project > .info.active{
    margin-top: 10px;
    height: 500px;
}

.single-project > .info .info-box{
    width: 50%;
    margin-block: 2em 0 ;
}

.single-project > .info img{
    height: 100%; 
    max-width: 50%;
    object-fit: cover;
}