.projects{
    width: 100%;
    padding-bottom: 5vh;
}

.projects > .header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0.5em 1em;
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--background); */
    background: red;
}

.projects > .header > div{
    width: var( --widthYearLocation);
    display: flex;
    justify-content: space-between;
}




