.product-page{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .product-page > .product-page-container{
    height: 60%;
    aspect-ratio: 2 / 1;
    display: flex;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    margin-top: 10vh;
    border-radius: 20px;
  }
  
  .product-page > .product-page-container > .logo{
    height: 100%;
    width: 50%;
    padding: 20px
  }
  
  .product-page > .product-page-container > .logo > img{
    height: 100%;
  }
  
  .product-page > .background-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }