@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Vollkorn&display=swap');


:root{
    --background: #f3f1ee;
    --color: #141414;
    --serif-font: 'Vollkorn', serif;
    --border: 3px solid var(--color);

    /* --x-large-font: clamp(7.5rem, -24.2813rem + 82.5vw, 28.125rem); */
    --x-large-font: 30vw;
    --large-font: clamp(1.875rem, 1.0938rem + 2.5vw, 2.5rem);
}


/*______________GENERAL_______________*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--color);
    scroll-behavior: smooth;
}

body{
    background: var(--background);
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a{
    color: var(--background);
    text-decoration: none;
}

.serif{
    font-family: var(--serif-font);
    font-style: italic;
}

.section-parts{
    border-bottom: var(--border);
}

.about-p{
    font-size: var(--large-font);
    line-height: 90%;   
    text-wrap: pretty;
}


/*______________NAV_______________*/
nav{
    position: fixed;
    top: 2vh;
    right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 25px;
    z-index: 10;
    border-radius: 50px;
    background: var(--color);
    border: 3px solid var(--background);
}

@media (max-width: 450px){
    nav{
        top: 90%;
        padding: 10px;
        right: 50%;
        gap: 10px;
        transform: translateX(50%);
    }
}

/*______________MARQUEE + LEFT CONTAINER_______________*/
.background{
    position: fixed;
    height: 100vh;
    width: 100%;

    .marquee{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        & h1{
            font-size: 100px;
            white-space: nowrap;
        }
    }

}


/*______________RIGHT CONTAINER_______________*/
section{
    position: relative;
    width: 100%;
    display: flex;

    .transparent{
        position: relative;
        width: 25%;
        height: 100vh;
        background: transparent;

        @media (max-width: 450px){
            display: none;
        }

        .info{
            position: fixed;
            width: 20%;
            height: 100vh;
            border-right: var(--border);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 10px;
            background: var(--background);

            @media (max-width: 450px){
                display: none;
            }
        } 
    }

    .main-container{
        width: 75%;
        border-left: var(--border);
        background: var(--background);

        @media (max-width: 450px){
            background: linear-gradient(270deg, var(--background) 91%, transparent 100%);
            width: 100%;
        }

        /*______NAVBAR_____*/
        .nav{
            border-bottom: var(--border);
            height: 10vh;
        }


        /*______LARGE CONTAINER_____*/
        .largeName{
            display: flex;
            border-bottom: var(--border);

            & h1{
                font-weight: 500;
                font-size: var(--x-large-font);
                line-height: 80%;
                letter-spacing: -30px;
                margin: 0 auto;

                @media (max-width: 1024px){
                    letter-spacing: -20px;
                }
            }
        }

        .container{
            padding-block: 10px;
            overflow-x: hidden;

            .about{
                padding: 10px 0 3vw 5vw;
                display: grid;
                gap: 10px;

                .about-text{
                    display: flex;
                    gap: 3vw;
                    width: 60%;

                    @media (max-width: 1024px){
                        width: 80%;
                    }
                }
                
            }

            .products{
                .product-intro{
                    height: 80vh;
                    display: flex;
                    border-bottom: var(--border);

                    .box{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &:nth-child(1){
                            border-right: var(--border);
                        }

                        &:nth-child(2){
                            background: var(--color);
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-start;
                            padding: 15px;

                            .arrow{
                                position: relative;
                                height: 200px;
                                width: 200px;
                                border-left: 15px solid var(--background);
                                border-bottom: 15px solid var(--background);

                                &::after{
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    translate: -50% -50%;
                                    rotate: -45deg;
                                    width: 150%;
                                    height: 15px;
                                    background: var(--background);
                                }
                            }
                        }
                    }
                }

                .grid-container{
                    padding: 3vw 10px 3vw 5vw;
                    width: 100%;
                    display: grid;
                    gap: 3vw;
                    grid-template-columns: repeat(3, minmax(0, 1fr));

                    .image{
                        position: relative;
                        border: 2px solid rgb(0, 0, 0, 0.1);
                        aspect-ratio: 1 / 1.3;
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .image-p-container{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid rgb(0, 0, 0, 0.1);

                        .image-p-text{
                            line-height: 0;
                            font-kerning: none
                        };
                    }
                }
            }
            
            .gallery{
                overflow-x: hidden;

                .about-p{
                    line-height: 1.1;
                    padding: 10px 10px 3vw 5vw;
                    border-bottom: var(--border);
                }

                .gallery-entry{
                    height: 80vh;
                    width: 300%;
                    padding: 10px 10px 3vw 10px;
                    overflow-x: hidden;
                    display: flex;
                    gap: 5vw;
                

                    .slider{
                        display: flex;
                        width: 100%;

                        .slider-number{
                            height: 100%;
                            width: 30%;
                            background: var(--background);
                            padding: 0 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            border-left: 1px solid var(--color);

                            .header{
                                font-size: 40px;
                            }

                            & p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            
            .skill-set{
                padding: 10px 0 10px 0;
                display: flex;
                flex-direction: column;

                & h2{
                    margin: 0 auto;
                    padding: 3vw 0 0 10px;
                }

                .skill-list{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);

                    & p{
                        padding: 10px 0 10px 10px;
                        font-weight: 600;
                    }

                    .border-top{
                        border-top: var(--border);
                    }

                    .border{
                        border-top: var(--border);
                        border-bottom: var(--border);
                    }

                    .border-bottom{
                        border-bottom: var(--border);
                    }

                    .border-right{
                        border-right: var(--border);
                    }
                }
            }

            .contact{
                display: flex;
                flex-direction: column;

                & h2{
                    padding: 3vw 0 0 10px;
                    margin: 0 auto;
                }

                .contact-info{
                    height: 50vh;
                    display: flex;
                    border-block: var(--border);

                    .contact-details{
                        height: 100%;
                        width: calc(100% / 3);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    .contact-details:nth-child(2){
                        border-left: var(--border);
                        border-right: var(--border);
                    }

                    .contact-details:nth-child(3){
                        background: var(--color);
                    }
                }
            }
        }
    }
}



/*______________ANIMATION_______________*/
.marquee-text{
    animation: marquee 30s linear infinite;
}

@keyframes marquee{
    0%, 100%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(-100%);
    }
}


.marquee-text.other-direction{
    animation: marqueeTwo 30s linear infinite;
}

@keyframes marqueeTwo{
    0%, 100%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(0%);
    }
}

















