@import url('https://fonts.cdnfonts.com/css/highstuffy');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: white;
}

body{
  background: linear-gradient(96deg, rgb(26, 33, 57) 0%, rgb(79, 90, 121) 100%) fixed;
}

a{
  text-decoration: none;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
