:root{
  --background: #e3e2e2;
  --color: #151515;

  /* --background: #151515;
  --color: #e3e2e2; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: var(--color);
}

a.active{
  text-decoration: underline;
}

td{
  font-size: 18px;
}

body{
  background: var(--background);
  color: var(--color);
  overflow-x: hidden;
}