*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    width: 100%;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home > img{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}   

#home > .container{
    position: relative;
    height: 100%;
    width: 100%;
}

.box{
    position: absolute;
    overflow: hidden;
    background: #9b0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_one{
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
}

h1{
    font-size: 150px;
    line-height: 90%;
    color: white;
    margin-left: 50px;
}

h3{
    font-size: 50px;
    color: white;
}

p{
    font-size: 20px;
    color: white;
}

.box_two{
    bottom: 0;
    right: 0;
    width: 50%;
    height: 0%;
}

.box_three{
    bottom: 30%;
    right: 0;
    width: 20%;
    height: 0%;
}

.box_four{
    top: 0;
    right: 20%;
    width: 0%;
    height: 40%;
}

.box_five{
    top: 40%;
    left: 50%;
    width: 15%;
    height: 0%;
}

.box_six{
    top: 55%;
    left: 65%;
    width: 0%;
    height: 15%;
}
