

:root{
    --background: whitesmoke;
    --fontColor: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    background: var(--background);
    color: var(--fontColor);
}


/*_________________________________________________________________*/
nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: -3px;
    padding: 0 10px 10px 10px;
    background: var(--background);
    z-index: 100;
}

.logo{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo span{
    width: 100%;
}

.logo .logo-name{
    font-size: 8vh;
}

.logo .coordinates{
    margin-left: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #14141480
}

.logo .coordinates:hover{
    color: var(--fontColor);
}


/*_________________________________________________________________*/
section{
    width: 100%;
    height: calc(100vh - 15vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 1vw 10px 1vw;
}

.header-box{
    width: 100%;
    height: calc(100vh - 15vh);
    padding: 5vh 1vw;
    background: red;
}

h1{
    display: flex;
    justify-content: space-between;
    font-size: clamp(3.25rem, 12vw + 1rem, 12.5rem);
    line-height: 80%;
    font-weight: 400;
    width: 100%
}

h1:nth-child(2){
    margin: 4vh 0;
}





.box{
    width: 100%;
    height: calc(100% / 7);
    background: var(--fontColor);
    display: flex;
    align-items: center;
    transition: all 0.5s;
    overflow: hidden;
}

.box:hover{
    height: 300px;
}

.box.left{
    justify-content: left;
}

.box.right{
    justify-content: right;
}


/*_________________________________________________________________*/
.box .content{
    height: 100%;
    font-size: 60px;
    background: var(--background);
    letter-spacing: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.box.left .content{
    transform: translateX(-150%);
    padding-right: 10px;
}

.box.right .content{
    transform: translateX(150%);
    padding-left: 10px;
}

.box:hover .content{
    transform: translateX(0);
}


/*_________________________________________________________________*/
.box .photos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    pointer-events: none;
}

.box .photos img{
    position: absolute;
    height: 100%;
    width: 0;
    object-fit: cover;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    filter: grayscale(50%);
}

.box:hover img{
    opacity: 1;
    width: 100%;
}